body{
	background-color:#fff;
}
.flex-container {
  display: flex;
 
}

.content {
  flex-grow:1;
  float:left;
  margin:5pt;
}
li{
	list-style-type: none;
}
p{
	font-weight:bold;
}
div>h1{
	font-weight:bold;
	background-color:lightblue;
}
a{
	text-decoration:none;
}
.footer{
	clear:left;
}